#contact {
    background: #142850;
    color: #fff;
    /* padding: 25px; */
}

#contactHeader {
    font-size: 1.45em;
}

.btn {
    border: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 1.33em;
    background: linear-gradient(to right, #334663, #34a3a3);
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#sendButton {
    margin-top: 10px;
}

#contactHeader{
    font-size: 1.1em;
    text-align: center;
}
.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    font-size: 1.53em;
    margin-left: 10px;
    margin-bottom: 5px;
}

#formContact{
    padding: 15px;
}