#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #142850;
}

#socialContainer {
    margin-top: 15px;
    width: 100%;
    display: flex;
}

#socialIcons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    
}

.socialItem {
    font-size:25px;
    color: white;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: #27496d;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}
.item {
    width: 100%;
    text-align: center;
}
#copy{
color: #fff;
text-align: center;
margin-bottom: 5px;
margin-top: 15px;

}

hr {
    height: 1px;
    background-color: #b8860b;
    border: none;
}
