.isMobile {
    display: none;
}
#main {
    display: flex;
    flex-direction: column;
}
#headerContainer {
    display: flex;
    align-items: center;
    background-color: #142850;
    width: 100%;
    height: 75px;
    font-size: 1.5em;
}

#menu {
    display: flex;
    width: 50%;
    height: 100%;
    list-style-type: none;
}

#menu li {
    width: 100%;
    text-align: center;
}
#menu li:nth-child(-n+2) {
    margin-right: 5px;
}

.activeLink {

}
#menu li {
    display: flex;
    align-items: center;
    align-content: center;
}
#menu li a {
    width: 100%;
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}

#containerLogo {
    width: 33%;
}

#containerMenu {
    display: flex;
    justify-content: flex-end;
    width: 67%;
    height: 100%;

}

.animate {
    background-color: #c00;
    transition: all 1s ease;
    position: absolute;
}
#menuDrawer {
    font-size: 40px;
    color: white;
    margin-right: 7px;
}
/* Mobile */
@media (max-width: 600px) {
    /*.isDesktop {*/
    /*    !*position: absolute;*!*/
    /*    display: flex !important;*/
    /*    flex-direction: column;*/
    /*    align-content: center;*/
    /*    align-items: center;*/
    /*    !*width: 100%;*!*/
    /*    !*height: 100%;*!*/
    /*    background: red;*/
    /*}*/
    .isMobile {
        display: flex;
        align-items: center;
    }


}