#home {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    background-image: url('https://images.unsplash.com/photo-1612095970217-76c151d37b4a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=655&q=80');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 95vh; 
}
.headerTitleH1 {
    text-align: center;
    padding-top: 15px;
    color: #fff;
    font-size: 2.33em;
    font-weight: 700;
    text-shadow: 1px 1px 1px #000;


}
.mainHome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.headerTitleH1 {
    align-self: center;
}