hr {
    width: 100%;
}
.menuMobile {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-size: 2em;
    background: #27496d;
}

.isDesktop{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vh;
}
.isDesktop li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.isDesktop li a {
    color: #fff;
    font-size: 1.0em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}